div.bnrWrap .banner{
    height: 200px;
}
div.cntWrap .content.cnt01 h2{
    font-size: 20px;
}
div.cntWrap .content.cnt01 h3{
    font-size: 15px;
}
div.cntWrap:nth-of-type(3){
    height: 300px;
}
div.cntWrap .content.cnt03 .texts p{
    margin-top: 10px;
}
div.cntWrap .content.cnt03 .texts{
    padding: 20px 0;
}
div.cntWrap .content.cnt03 article{
    display: block;
}
div.cntWrap .content.cnt03 article .image{
    width: 100%;
}
div.cntWrap .content.cnt03 .texts{
    width: 100%;
    height: 150px;
}
div.cntWrap .content.cnt03 article:nth-of-type(2){
    display: block;
    direction: ltr;
}
div.ftrWrap{
    padding: 0;
}