div.cntWrap .content.cnt01 header{
    display: none;
}
div.cntWrap .content.cnt01 article{
    display: block;
}
div.cntWrap .content.cnt01 section .image{
    width: 100%;
}
div.cntWrap .content.cnt01 .texts{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
div.cntWrap .content.cnt02 .texts{
    margin-top: 20px;
    border-top: 2px solid #ccc;
    padding-top: 20px;
}
div.cntWrap .content.cnt02 .image{
    height: 100px;
}
div.cntWrap .content.cnt02 .imgView{
    margin-top: 20px;
}
div.cntWrap .content.cnt02 .slideBar{
    height: 60px;
}
div.cntWrap .content.cnt02 .bar{
    margin-top: 30px;
}
div.cntWrap hr{
  display: none;
}
div.cntWrap .content.cnt03 article{
    display: block;
}
div.cntWrap .content.cnt03 .image.i1{
    width: 100%;
    height: 120px;
    background-color: #fff;
}
div.cntWrap .content.cnt03 p{
    display: none;
}

div.cntWrap .content.cnt03 .image.i2{
    width: 100%;
    height: 120px;
    background-color: #fff;
}
div.cntWrap .content.cnt03 h2{
    font-size: 15px;
}
div.cntWrap .content.cnt03 .texts{
    text-align: center;
    margin: 0;
    padding: 20px;

}

div.cntWrap .content.cnt03 h4{
    margin-top: 20px;
    font-size: 15px;
}
div.cntWrap .content.cnt04 .texts{
    margin: 0;
    text-align: center;
    font-size: 25px;
}
div.cntWrap .content.cnt04 h5{
    font-size: 20px;
    margin-top: 0;
}
div.cntWrap .content.cnt04 p{
    margin-top: 20px;
    font-size: 15px;
}

div.cntWrap .content.cnt04 .texts{
    border-bottom: 2px solid #ccc;
    padding: 40px 0;
}
div.cntWrap .content.cnt04 section{
    margin-top: 20px;
}
div.cntWrap .content.cnt05 section{
    display: block;
}
div.cntWrap .content.cnt05 article{
    width: 100%;
}
div.cntWrap .content.cnt05 .texts p{
    font-size: 15px;
}